/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);*/
.sidenav {
  position: fixed;
  width: 280px;
  height: 98%;
  background-color: #343a40;
}
.sidenav .main-buttons {
  list-style-type: none;
  margin: 64px 0;
  padding: 0;
  color: #fff;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.sidenav .main-buttons > li {
  padding: 16px 52px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sidenav .main-buttons > li .fa {
  position: absolute;
  left: 12px;
  color: #414655;
}
.sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
  background-color: #00BFFF;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden, .sidenav .main-buttons > li:active .hidden, .sidenav .main-buttons > li:focus .hidden {
  width: 228px;
}

.hidden {
  width: 0;
  height: 86%;
  padding: 64px 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #0198E1 ;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap; /* pour éviter le passage à la ligne auto et la redimenssion de la div */
}
.hidden li {
  padding: 16px 24px;
  transition: 0.8s;
}
.hidden li:hover, .hidden li:active, .hidden li:focus {
  background-color: #325C74;
}

body {
  background-color: #F5F5F5;
  line-height: 30px;
}

html,
body {
  height: 100%;
}
/*---------------------------------BARRE DE RECHERCHE----------------------------------------------------------*/
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');*/

/* Base styling */

.search__container {
        padding-top: 34px;
    }

.search__input {
        width: 50%;
        padding: 12px 24px;
        margin-left: 31%;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG7SURBVEhL7ZU7S5xBFEDXB/jolGArxv8Q0KA/QCRoZWzVykdjqaSOnTaCdpoigoKKraktE42dhZaKAS18RMXXOYMLi6DON6tWe+Cwe4fvzp2dne9OrkQE5Q+fb04dDuMv3McbvMBdnMdOfNXFlOEoHuNdged4/WjsN7Zg0dTiMjrpLa5iN/rrpQI/ojuxgz53hf2YjL90BZ3MrW3D56jEb+gCtQeTcHsteoCNDkTSh+adobuRCbfyCF15uwMZmUGL/wxRBkbQRLc6hQY8QU++36NZRwt3hSiNRXSOgRBF4v9qUn2I0hhE55gMUQS+Im7R/xCl42tn4aUQRWJHsjm4iFS+ooV/hCiSPTSpKURpjKNzTIQokjk0ydOdygY6R0eIIvmCJtkG7UhZaUXz/2G1A7HYLm34JtsGs2B/z+eOOZCVz3iJdq/Yd9Gia2jRv1iFSVjQwk40ix/wKbwO/6DP6hY+9/yLeMt49zrZKdqRhtBz0Iue3vxB0m20qN83sajizWjDt7HkCzz2EF2E22sxizpedHGx4XvJT+EC2hy+o69MDRby6sWzUCpu8WkH3hOLe0V+ClGJ9yWXuwcyu36xehA3QAAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center; /*to avoid the move of the picture */
        }

#auto-suggest .search {
  width:50%;height:33px;margin:4px;padding:0 13px;border:1px solid #cdcdcd;
  color:#ccc;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;  
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  -moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
  -webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
  box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#auto-suggest .suggestions {
  width:50%;position:absolute;margin-left:30%;padding:0;list-style-type:none;background:#fff;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555; 
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;  
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
  box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#auto-suggest .suggestions li {height:25px;padding:0 10px;line-height:25px;cursorointer;border-top:1px solid #f5f5f5}
#auto-suggest .suggestions li:hover {background: no-repeat #F5F5F5;background-position:320px center;}
#auto-suggest .suggestions li:first-child {border:none;}
/*********************************************************************************/

/************************************Table*********************************************/

.container {
  margin-top: 5%;
  max-width: 1400px;
  width: 75%;
  margin-left: 20%;
  margin-right: 10%;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.responsive-table .table-header {
  background-image:-moz-linear-gradient(left, #787878, #B8B8B8);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 15%;
}
.responsive-table .col-3 {
  flex-basis: 15%;
}
.responsive-table .col-4 {
  flex-basis: 20%;
}
.responsive-table .col-5{
  flex-basis: 10%;
}
.responsive-table .col-6{
  flex-basis: 15%;
}
.responsive-table .col-7{
  flex-basis: 15%;
}
.responsive-table .col-8{
  flex-basis: 15%;
}
.end{
  margin-left: 44%;
  font-weight: bold;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
.table-row:hover{
  background-color: #D3D3D3;
  cursor: pointer;
}
/*******************************Icon NAV**************************************************/
@keyframes pop{ 
    0% {opacity: 0; width: 25%; background-color: black; color: black; border-radius: 1px 1px 1px 1px;}
    100% {opacity: 0.9; width: 50%; background-color: #ddd; color: black; border-radius: 10px 10px 10px 10px;}
}

.icons{
  float: right;
  display: flex;
  white-space: nowrap;
  animation: pop 2s ease-in-out 0s forwards; 
}
.iconsAlert, .export, .logout{
  margin-right: 25px;
  cursor: pointer;
}
#iconsAlertImg, #exportImg, #logoutImg{
  width: 33px;
}

/*************************************/
/***************************************************************************************************************** Register Page *********************************************************************v***/
.registerForm{
  margin-top: 5%;

  min-width: 280px;
  max-width: 1400px;
  width: 16%;
  margin-left: 48%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 60px;

  padding-left: 80px;
  padding-right: 0px;
  padding-bottom: 30px;

  background-color: #292c35;
  overflow: hidden; /* cache le texte dépassant du compartiment*/
  border-radius: 10px 10px 10px 10px;
  opacity: 0.9;
  white-space: nowrap; /* évite le passage à la ligne automatique */
}

.registerForm h2{
  color: white;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;

  padding-right: 100px;
}

.registerForm p{
  color: white;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;

  padding-top: 15px;
  margin-bottom: 0px;
  margin-left: 14px;
}

.registerForm input{
  border-radius: 5px 5px 5px 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  margin-left: 14px;
}

.registerError{
  margin-left: 16%; 
  text-align: center; 
  font-weight: bold; 
  color: red;
}

.button {
  background-color: #caccd6;
  border: none;
  color: black;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  margin-left: 45px;
  opacity: 1;
}


/***************************************************************************************Menu accordéon**************************************************************************/
.dropbtn {
  background-color: #00BFFF;

  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;


}

.dropbtn:hover, .dropbtn:focus {
  background-color: #325C74;

}
.dropbtn:focus {
    border-radius: 5px 5px 0px 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00BFFF;
  width: 110px;
  height: 93px;
  border-radius: 0px 5px 5px 5px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content input{
  background-color: #00BFFF;
  width: 100%;
  text-align: left;
  border-style: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  padding-left: 20px;
  

}

.dropdown-content input:hover{
  background-color: #325C74;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/************************************************PROFIL**********************************************/
#profil_pic{
  margin-top: 10px;
  margin-bottom: 10px;
}
#info{
  margin-top: 25%;
}
.access{
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 120px;
  background-color: #00BFFF;
  height: 60px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  font-size: 25px;
  border-radius: 5px;
}

.access:hover{
  text-decoration: none;
  color: grey;
  background-color: white;
}

/*********************LOGIN REGISTER*****************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@keyframes pop{ 
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}
#nameU{
  font-size: 20px;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    animation: pop 1s ease-in-out 0s forwards; 
}
.register-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    animation: pop 1s ease-in-out 0s forwards; 
}
.login-form .row /*ATT avec register-form, marche pas lorsque mis ensemble (??) */
{
    margin-left: 0;
    margin-right: 0;
}
.register-form .row
{
  margin-left: 0;
  margin-right: 0;
}
/************************************************MODAL EMAIL**********************************************/
/* Full-width input fields */

.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #00BFFF;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}
@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}
button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}


button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}
.mailTitle, .mailContent{
  width: 100%;
  padding :12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.sendMail{
    background-color: #00BFFF;
    color: white;
    padding: 7px 21px;
    margin: 8px 0;
    border: 1px solid #00BFFF;
    border-radius:4px;
    cursor: pointer;
    width: 40%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.24);
}
.sendMail:hover{
    background-color: white;
    color: #00BFFF;
    border: 1px solid #00BFFF;
    border-radius:4px;
}
